<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
    <title>{{title}}</title>
    <link rel="icon" href="/assets/images/pepe.ico"/>
    <link href="/assets/fontawesome/css/all.css" rel="stylesheet"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap"
          rel="stylesheet">
    <link rel="stylesheet" href="/assets/styles/main.css">
    <link rel="stylesheet" href="/assets/styles/plugins/swiper-bundle.min.css"/>
    <script src="/assets/js/plugins/swiper-bundle.min.js"></script>
</head>
<div id="notification" class="notification">

</div>

<div id="notification-compare" class="notification-compare hide"></div>

<div id="preloader" class="preloader hide">
    <div class="spinner"></div>
</div>

<div class="image-preloader hide">
    <div class="spinner"></div>
</div>