<div class="container animate__animated animate__fadeInRight">
    <div class="content-middle">
        <img src="./assets/images/pepe404.svg" height="64" width="64">
        <h2>Нет доступа</h2>
        <p>Я работаю только на iOS и Android</p>
    </div>
</div>
