{{! 500.hbs }}
<div class="container animate__animated animate__fadeInRight">
    <div class="content-middle">
        <img src="./assets/images/pepe500.svg" height="64" width="64">
        <h2>404</h2>
        <p>Что-то пошло не так :(</p>
        <a href="/" class="main-button">
            Вернуться
        </a>
    </div>
</div>
