<div class="container-flex">
    <div class="header"></div>
    <div class="content">
        <img style="" src="/assets/images/pepe.svg" height="32" width="32" alt="Pepe">
        <h3 class="_weight-900 _margin-bottom-20">Wanaby &middot; Настройки</h3>
        <div class="settings-page">
            <h3 style="text-align:center;padding:10px;">Ты действительно хочешь удалить свою анкету?</h3>
            <div class="settings-page__buttons-confirm">
                <a style="margin-right:40px;" class="button no" href="/settings">
                    Нет
                </a>
                <a class="js-confirm-delete-sheet button yes">Да</a>
            </div>
        </div>
        <div class="mobile-footer">
            <div class="footer-menu">
                <a href="../likes"><i class="fa-regular fa-heart"></i></a>
                <a href="../dating"><i class="fa-solid fa-id-badge"></i></a>
                <a class="active" href="javascript:void(0);"><i class="fas fa-cog"></i></a>
            </div>
        </div>
    </div>
    <div class="footer">
    </div>
</div>