{{! disclaimer.hbs }}
<div class="container-flex">
    <div class="header">
    </div>
    <div class="content">
        <h3 class="_padding-left-20">Отказ от ответственности</h3>
        <div class="disclaimer">
            <p>
                1. Приложение "Знакомства" (далее - "Приложение"), предоставляемое на сайте devbudeiko.online,
                разработано для обеспечения возможности общения и знакомства между пользователями.<br>
                2. Пользователи приложения используют его на свой собственный риск. Администрация приложения не
                несет ответственности за любые последствия, возникшие в результате использования приложения,
                включая, но не ограничиваясь, встречи в реальной жизни, финансовые потери, ущерб репутации и
                эмоциональные переживания.<br>
                3. Пользователи несут полную ответственность за свои действия в рамках использования Приложения.
                Администрация не контролирует и не несет ответственности за содержание общения и информации,
                передаваемой между пользователями.<br>
                4. Приложение может содержать ссылки на сторонние ресурсы. Администрация не несет ответственности
                за содержание этих ресурсов и последствия использования пользователем таких ссылок.<br>
                5. Администрация оставляет за собой право вносить изменения в Приложение без предварительного
                уведомления пользователей. Пользователи обязуются регулярно ознакомляться с текущей версией
                условий использования Приложения.<br>
                6. Используя Приложение, пользователь подтверждает свое согласие с настоящим Отказом от
                ответственности.<br>
                Дата вступления в силу: <b>08.06.2024</b>
            </p>
        </div>
        <a style="text-align:center;" href="/" class="main-button">
            Вернуться назад
        </a>
    </div>
    <div class="footer">
    </div>
</div>