<div class="container-flex">
    <!-- Верхняя секция -->
    <div class="header">
        <h2 class="_weight-900 _margin-top-20">Wanaby</h2>
    </div>

    <!-- Средняя секция -->
    <div class="content">
        <img class="_margin-bottom-20" src="/assets/images/pepe.svg" height="64" width="64" alt="Pepe">
        <h2>Приветствую</h2>
        <p>Я твой помощник в поиске<br>новых друзей и второй половинки.</p>
        <a href="/registration" class="main-button">Создать анкету</a>
    </div>

    <!-- Нижняя секция -->
    <div class="footer">
        <div class="index-page__documents">
            <p>Создавая анкету, Вы соглашаетесь<br>со следующими документами:</p>
            <a href="/privacy">Политика в отношении обработки персональных данных</a>
            <a href="/disclaimer">Отказ от ответственности</a>
        </div>
    </div>
</div>

