<div class="container animate__animated animate__fadeInRight">
    <div class="content-middle">
        <img src="./assets/images/pepe404.svg" height="64" width="64">
        <h2>Нет доступа</h2>
        <p>К сожалению, я несмогу быть твоим помощником,
            пока у твоего аккаунта не будет <b>username</b></p>
        <p style="text-align:left;">1. Зайди в <b>Настройки</b><br>
            2. Нажми <b>Выбрать имя пользователя</b><br>
            3. Придумай себе <b>username</b> и нажми <b>Готово</b><br>
            4. Возвращайся
        </p>
    </div>
</div>
